@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9ff;
  --foreground: #231F20;
  --font-assistant: "Assistant", sans-serif;
  --font-inria-serif: "Inria Serif", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-bitter: "Bitter", serif;
  --font-inter: "Inter", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-assistant)
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  place-self: center;
width: auto;
}

p sup {
  font-size: 0.75rem; /* Tailwind's text-xs */
  vertical-align: super;
  margin: 0;
  line-height: 1;
}

p sub {
  font-size: 0.75rem; /* Tailwind's text-xs */
  vertical-align: sub;
  margin: 0;
  line-height: 1;
}





@layer base {
  .container {
    @apply flex flex-col place-self-center md:p-10 p-5;
  }
  .child_container {
    @apply 
  }
  .logo {
    @apply font-inter font-bold text-lg cursor-pointer tracking-wider
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
